* {
    margin: 0;
    font-family:serif;
     box-sizing: border-box; 
  }
  
  body {
    background: url('Fondo\ Principal.jpg');
   background-size:cover;
   font-family: serif;
   background-position: center;
   background-attachment: fixed;
   margin: 0;
}
h1{
  color: aliceblue;
}

  footer{
    background: cornflowerblue;
    padding: 10px;
    min-height: 200px;
}
.footerCont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    color: aliceblue;
}
.fNosotros{
    max-width: 300px;
}
footer h2{
  margin-bottom: 10px;
}


.quickLinks{
    display: flex;
    flex-direction: column;
}
footer a:hover{
    cursor: pointer;
}
.links{
  display: flex;
  flex-direction: row;
}
.cQlINK{
  margin-right: 25px;
}

  
  .form-register {
    max-width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    border: 3px solid aliceblue;
    margin-top: 40px;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  .botons:hover{
    cursor: pointer;
  }

  .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    padding: 10px;

  }

  /* header{
    display: flex;
    background: cornflowerblue;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    min-height: 100px;
  
} */
header{
  display: flex;
  background: cornflowerblue;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  min-height: 100px;
}
.title{
  display: flex;
  align-items: center;
}

.logo{
  max-width: 90px;
  max-height: 90px;
  margin-right: 10px;
}
nav{
  display: flex;
  margin-right: 80px;
}
a{
  text-decoration: none;
  color: aliceblue;
  
}
nav a{
  font-weight: 600;
  padding-left: 20px;
  font-size: 20px;
  
  

}
a:hover{
  color: red;
  cursor: pointer;
}
/* nav{
  display: flex;
  margin-right: 20px;
}

a{
  text-decoration: none;
  color: aliceblue;
}
nav a{
  font-weight: 600;
  padding-right: 30px;
  font-size: 20px;
} */

/* .title{
  display: flex;
  align-items: center;
  margin-left: 40px ;
} */
.title{
  display: flex;
  align-items: center;
}

@media(max-width:800px){
  nav{
    margin-left: 50px;
}
}

  @media(max-width:600px){
    /* header{
      flex-direction: column;
      padding: 20px;
      min-height: 200px;
      
    } */
    header{
      flex-direction: column;
      padding: 20px;
      min-height: 100px;
      
  }
  nav{
      padding:10px;
      margin-top: 30px;
      justify-content: center;
      align-items: center;
      /* margin-right: 30px; */
  }
  /* h1{
    font-size: 30px;
  } */
    /* .title{
      margin-bottom: 20px;
      margin-left: 0;
    } */
    /* nav{
      margin-left: 50px;
      margin-bottom: 40px;
    } */
    .btn{
      padding: 10px;
      border: 3px solid aliceblue;
      border-radius: 5px
    }
    .form-register{
      max-width: 350px;
    }
  }
  @media(max-width:550px){
    .footerCont{
        flex-direction: column;
        padding-bottom: 20px;
        align-items: center;
    }
    .fNosotros{
        justify-self: center;
        max-width: 200px;
        margin-left: 0;
        
    }
    .links{
      margin-top: 40px;
    }
}

  @media(max-width:400px){
    .form-register{
      max-width: 250px;
    }
    .btn{
      padding: 10px;
      border: 3px solid aliceblue;
      border-radius: 5px
    }
    .fNosotros{
      justify-self: center;
     
      
  }
  .footerCont{
    align-items: center;
  }
  /* nav{
    flex-direction: column;
  } */
  /* .title{
    justify-content: center;
    margin-left: 0;
  } */
  }
